.header {
    -fx-min-width: 100%;
    -fx-min-height: 55px;
    -fx-background-color: #336699;
}
.btn {
    -fx-min-height: 30px;
    -fx-min-width: 70px;
    -fx-background-color: #6699FF;
}
.btn:hover {
    -fx-background-color: #0066FF;
}

.menu .label {
    -fx-text-fill: white;
    -fx-font: "Segoe UI Light";

}
.menu-bar {
    -fx-background-color: rgba(0,0,0,0);
}
.menu:showing {
     -fx-background-color: rgba(0,0,0,0.1);
 }
.menu:showing .label{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font: "Segoe UI Light";
}
.context-menu {
    -fx-background-color: #336699;
}